<div class="row">

  <div class="col-md-12">
    <div class="box">
      <form class="form-horizontal" name="entryForm">
        <div class="box-body">
          <div ng-include="'views/snippets/form_errors.html'"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Lead</label>
              <div class="col-sm-10">
                <p>Published At: {{lead.published_at | amDateFormat:'DD/MM/YYYY'}}</p>
                <p ng-if="lead.binbags" ng-repeat="binbag in lead.binbags">
                  <a target="_self" href="{{ENV.apiEndpoint}}/binbag/{{binbag.id}}/content?reference={{binbag.reference}}&auth={{ENV.Authorization}}" download="{{binbag.name}}">{{ binbag.name }}</a>
                </p>
                <div ng-show="lead.url">
                  <a ng-if="lead.website" href="{{lead.url}}">{{lead.url}}</a>
                  <a href="#" class="btn" ng-click="showUrl = !showUrl">[ Show Inline ]</a>
                  <br/>
                  <iframe ng-show="showUrl" ng-src="{{leadUrl}}" class="box" style="min-height:700px;"></iframe>
                </div>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Excerpt</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" ng-model="entry.excerpt" rows="5"/></textarea>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Information At</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="entry.information_at" is-open="information_at_open" data-ng-click="information_at_open = true" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Country</label>
              <div class="col-sm-10">
                <ui-select ng-model="entry.country_code" theme="bootstrap">
                  <ui-select-match placeholder="Select affected country">{{$select.selected.name}} &lt;{{$select.selected.code}}&gt;</ui-select-match>
                  <ui-select-choices repeat="country.code as country in countries | filter: {name: $select.search}">
                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                    <small>
                      {{country.code}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Locations (Geonames)</label>
              <div class="col-sm-10">
                <ui-select multiple ng-model="entry.src_locations[CONST.LOCATION_SOURCE_GEONAME]" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Select locations">{{$item.asciiname}}</ui-select-match>
                  <ui-select-choices refresh="actions.getGeoname(entry.country_code, $select.search)" repeat="{location_id: location.location_id, source: CONST.LOCATION_SOURCE_GEONAME, asciiname: location.asciiname} as location in geonameLocations | filter: {name: $select.search}">
                    <div ng-bind-html="location.asciiname | highlight: $select.search"></div>
                    <small>
                      {{location.code}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Locations (Administrative)</label>
              <div class="col-sm-10">
                <ui-select multiple ng-model="entry.src_locations[CONST.LOCATION_SOURCE_SELF]" theme="bootstrap" ng-disabled="disabled">
                  <ui-select-match placeholder="Select locations">{{$item.asciiname}}</ui-select-match>
                  <ui-select-choices refresh="actions.getLocation(entry.country_code, $select.search)" repeat="{location_id: location.location_id, source: CONST.LOCATION_SOURCE_SELF, asciiname: location.name} as location in selfLocations | filter: {name: $select.search}">
                    <div ng-bind-html="location.asciiname | highlight: $select.search"></div>
                    <small>
                      {{location.code}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Locations (Google maps drawing)</label>
              <div class="col-sm-10">
                <div id="map_canvas">
                  <div class="box">
                    <div class="box-body chart">
                        <script type="text/ng-template" id="searchbox.tpl.html">
                            <input type="text" placeholder="Search Location" style="margin:1em;">
                        </script>
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="mapOptions" bounds="map.bounds">
                            <ui-gmap-search-box template="mapsearchbox.template" events="mapsearchbox.events"></ui-gmap-search-box>
                            <ui-gmap-drawing-manager options="drawingManagerOptions" control="map.drawingManagerControl"></ui-gmap-drawing-manager>
                        </ui-gmap-google-map>
                        <a ng-show="shapeSelected" href="#" class="btn btn-danger" ng-click="deleteSelectedShape()">Delete Selected Area</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group" ng-repeat="tagGroup in tagGroups">
              <label class="col-sm-2 control-label">{{tagGroup.title}}</label>
              <div class="col-sm-10" ng-if="tagGroup.parameters">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row" ng-repeat="tag in entry.tags[tagGroup.name]">
                      <div class="col-sm-5">
                        <ui-select ng-model="tag.id" theme="bootstrap" on-select="actions.tagChange(tagGroup.name, $item, $model)">
                          <ui-select-match>{{$select.selected.title}}</ui-select-match>
                          <ui-select-choices repeat="tag.id as tag in tagGroup.tags | filter: {title: $select.search}">
                            <div ng-bind-html="tag.title | highlight: $select.search"></div>
                            <small ng-show="tag.tree.length > 0">
                              (<span ng-repeat="ptag in tag.tree">{{ptag.title}} </span>)
                            </small>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                      <div class="col-sm-6" ng-repeat="(name, opt) in tagGroup.parameters">
                          <input ng-model="tag[name]" type="text" placeholder="{{opt.description}}" class="form-control">
                      </div>
                      <div class="col-sm-1">
                        <button class="btn btn-danger btn-circle" type="button" ng-click="actions.removeTag(tagGroup.name, entry.tags[tagGroup.name], $index)" tooltip="Delete"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-sm-10" ng-if="!tagGroup.parameters">
                <ui-select multiple ng-model="entry.tags[tagGroup.name]" theme="bootstrap">
                  <ui-select-match>{{$item.title}}</ui-select-match>
                  <ui-select-choices repeat="tag.id as tag in tagGroup.tags | filter: {title: $select.search}">
                    <div ng-bind-html="tag.title | highlight: $select.search"></div>
                    <small ng-show="tag.tree.length > 0">
                      (<span ng-repeat="ptag in tag.tree">{{ptag.title}} </span>)
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Status</label>
              <div class="col-sm-10">
                <ui-select ng-model="entry.status_ord" theme="bootstrap">
                  <ui-select-match placeholder="Select status">{{$select.selected.title}}</ui-select-match>
                  <ui-select-choices repeat="status.id as status in statusLevels | filter: {title: $select.search}">
                    <span ng-bind-html="status.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Problem Timeline</label>
              <div class="col-sm-10">
                <ui-select ng-model="entry.timeline" theme="bootstrap">
                  <ui-select-match placeholder="Select problem timeline">{{$select.selected.title}}</ui-select-match>
                  <ui-select-choices repeat="timeline.id as timeline in timelineLevels | filter: {title: $select.search}">
                    <span ng-bind-html="timeline.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Severity</label>
              <div class="col-sm-10">
                <ui-select ng-model="entry.severity" theme="bootstrap">
                  <ui-select-match placeholder="Select severity level">{{$select.selected.id}}: {{$select.selected.title}}</ui-select-match>
                  <ui-select-choices repeat="severity.id as severity in severityLevels | filter: {title: $select.search}">
                    <b>{{severity.id}}</b> <span ng-bind-html="severity.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label">Reliability</label>
              <div class="col-sm-10">
                <ui-select ng-model="entry.reliability" theme="bootstrap">
                  <ui-select-match placeholder="Select reliability level">{{$select.selected.id}}: {{$select.selected.title}}</ui-select-match>
                  <ui-select-choices repeat="reliability.id as reliability in reliabilityLevels | filter: {title: $select.search}">
                    <b>{{reliability.id}}</b> <span ng-bind-html="reliability.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
          </div>

        </div>
        <div class="box-footer pull-right">
          <button class="btn btn-info " ng-click="actions.submit(entryForm, entry, 'return')">Save</button>
          <button class="btn btn-success" ng-click="actions.submit(entryForm, entry, 'next_similar')">Save and Add similar</button>
          <button class="btn btn-success" ng-click="actions.submit(entryForm, entry, 'next')">Save and Add empty</button>
        </div>
      </form>
    </div>
  </div>
</div>
