    <div class="login-box">
      <div class="login-logo">
        <a ui-sref="home"><b>SIDR</b>{{ENV.VERSION}}</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <div ng-include="'views/snippets/form_errors.html'"/>

        <p class="login-box-msg">Sign in to start your session</p>
        <form name="loginForm" data-ng-submit="actions.submit(loginForm, credentials)">
          <div class="form-group has-feedback">
            <input ng-model="credentials.email" type="email" class="form-control" placeholder="Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a ui-sref="register" class="text-center">Register a new membership</a>

      </div><!-- /.login-box-body -->
