  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow">403</h2>
      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Not authenticated.</h3>
        <p>
          Sorry, You are not logged in into the system or you've tried to access an object you have no permission for.
          <a ui-sref="login" class="text-center">Click here to login into the system</a>
        </p>
      </div><!-- /.error-content -->
    </div><!-- /.error-page -->
  </section><!-- /.content -->
